.css-1uciued{
  padding: 0px !important;
}

.css-rwuzh2 {
  min-height: 37px !important;
  height: 37px !important;
}

.css-rv96su {
  min-height: 35px !important;
  height: 35px !important;
  padding: 1px 0px !important;
}